---
name: diffs.dev
githubOwner: PaperMC
githubRepo: diff-viewer
technologies:
  - typescript
  - svelteKit
  - tailwind
  - bun
links:
  - { type: "homepage", value: "https://diffs.dev" }
  - { type: "demo", value: "https://diffs.dev/?github_url=https%3A%2F%2Fgithub.com%2FPaperMC%2FPaper%2Fpull%2F8235" }
---

Featureful and performant web-based multi-file diff viewer
