---
name: fill-ui
githubOwner: PaperMC
githubRepo: fill-ui
technologies:
  - typescript
  - svelteKit
  - tailwind
  - bun
  - graphQl
links:
  - { type: "homepage", value: "https://fill-ui.papermc.io" }
---

Web app for PaperMC project builds and release metadata.
Lets users browse and download artifacts while authorized users manage project data.
Built on top of PaperMC's [Fill](https://github.com/PaperMC/fill) API.
