---
name: Patch Roulette
githubOwner: PaperMC
githubRepo: patch-roulette
technologies:
  - typescript
  - svelteKit
  - tailwind
  - bun
  - java
  - springBoot
  - gradle
---

Web app and API for coordinating updates to [Paper](https://papermc.io/software/paper)'s large
Minecraft patch stack.
Tracks conflicted patches through assignment and completion states, brokering work between humans
and agents while recording timing data.
