---
name: paperweight
githubOwner: PaperMC
githubRepo: paperweight
technologies:
  - kotlin
links:
  - { type: "gpp-search", value: "io.papermc.paperweight" }
---

Gradle plugin for building the Paper Minecraft server software, forks of Paper, and Paper plugins
