---
name: run-task
githubOwner: jpenilla
githubRepo: run-task
technologies:
  - kotlin
links:
  - { type: "gpp-search", value: "xyz.jpenilla.run-" }
---

Gradle plugin suite for launching Minecraft servers and proxies from Gradle for faster testing and
iteration
