---
name: reflection-remapper
githubOwner: jpenilla
githubRepo: reflection-remapper
technologies:
  - java
  - gradle
---

Java library for simplifying reflective calls with reusable reflection utilities and proxies.
Includes remapping support so the same code can work cleanly in remapped environments.
