@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "@iconify/tailwind4" {
  prefixes: logos, ri, simple-icons;
}

@plugin "daisyui" {
  /* https://daisyui.com/docs/themes/ */
  themes:
    light --default,
    dark --prefersdark;
}

@theme {
  --color-discord: #5865f2;
  --color-modrinth: #00af5c;
  --color-gradle: #209bc4;
  --color-cloudflare: #f6821f;
  --color-drizzle: #000;
  --color-sqlite: #0f80cc;
}

[data-theme="dark"] {
  --color-drizzle: #c5f74f;
}
