---
name: Better Fabric Console
githubOwner: jpenilla
githubRepo: better-fabric-console
technologies:
  - java
  - gradle
links:
  - { type: "modrinth", value: "better-fabric-console" }
---

Server-side Fabric mod enhancing the console with tab completions, colored log output, command syntax highlighting,
command history, and more
