---
name: CarbonChat
githubOwner: Hexaoxide
githubRepo: Carbon
technologies:
  - java
  - gradle
links:
  - { type: "modrinth", value: "carbon" }
---

Minecraft chat system for servers and proxies, with cross-server chat, multi-platform support, and
an extensible API.
