---
name: ChessCraft
githubOwner: jpenilla
githubRepo: chesscraft
technologies:
  - java
  - gradle
links:
  - { type: "modrinth", value: "chesscraft" }
---

Adds playable in-world chess matches against other players or chess engines.
