---
name: MiniMOTD
githubOwner: jpenilla
githubRepo: MiniMOTD
technologies:
  - java
  - gradle
links:
  - { type: "modrinth", value: "minimotd" }
---

Allows customizing the server icon and 'message of the day' text (shown on the server list) using
[MiniMessage](https://docs.advntr.dev/minimessage/index.html)
