---
name: MiniMOTD
githubOwner: jpenilla
githubRepo: MiniMOTD
technologies:
  - java
  - gradle
links:
  - { type: "modrinth", value: "minimotd" }
---

Plugin/mod for customizing the server-list icon and MOTD on Minecraft servers and proxies, with
[MiniMessage](https://docs.advntr.dev/minimessage/index.html) formatting support.
