---
name: Moonrise
githubOwner: Tuinity
githubRepo: Moonrise
technologies:
  - java
  - gradle
links:
  - { type: "modrinth", value: "moonrise-opt" }
---

Performance optimization mod for Minecraft's integrated and dedicated server on Fabric, NeoForge,
and [Paper](/projects#paper).
Major contributor and maintainer, focused primarily on mod compatibility, version update work, and
build tooling.
