---
name: squaremap
githubOwner: jpenilla
githubRepo: squaremap
technologies:
  - java
  - gradle
links:
  - { type: "modrinth", value: "squaremap" }
  - { type: "demo", value: "https://squaremap-demo.jpenilla.com" }
---

World map renderer and web viewer for Minecraft servers
