---
name: TabTPS
githubOwner: jpenilla
githubRepo: TabTPS
technologies:
  - java
  - gradle
links:
  - { type: "modrinth", value: "tabtps" }
---

Minecraft mod/plugin for monitoring real-time server performance in-game.
